<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Doctor SignUp</title>
  </head>
  <body>
    <h1>Doctor SignUp</h1>
    <form class="doctor signup" action="/doctor" method="post">
      <input type="text" name="doctorName" placeholder="Doctor Name"><br>
      <input type="number" name="doctorPhone" placeholder="Phone Number"><br>
      <input type="checkbox" name="medtype" value="Pediatrics">
      <label for="medtype">Pediatrics</label>
      <input type="checkbox" name="medtype" value="General Physician">
      <label for="medtype">General Physician</label><br>
      <input type="checkbox" name="medtype" value="Pulmonology">
      <label for="medtype">Pulmonology</label>
      <input type="checkbox" name="medtype" value="Cardiology">
      <label for="medtype">Cardiology</label><br>
      <button type="submit" name="doctorButton">Sign Up</button>
    </form>
  </body>
</html>
