<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Doctor Login</title>
  </head>
  <body>
    <form class="login" action="/logindoc" method="post">
      <input type="text" name="docName" placeholder="Doctor Name">
      <input type="text" name="docNumber" placeholder="Doctor Number">
      <button type="submit" name="login">Login</button>
    </form>
  </body>
</html>
