<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Doctor Login</title>
  </head>
  <body>
    <form class="login" action="/loginmem" method="post">
      <input type="text" name="membName" placeholder="Member Name">
      <input type="password" name="membPassword" placeholder="Password">
      <button type="submit" name="login">Login</button>
    </form>
  </body>
</html>
