<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Patient to Doctor</title>
  </head>
  <body>
    <form class="patdoc" action="/appointment" method="post">
      <input type="number" name="age" placeholder="Age"><br>
      <input type="text" name="wish-doctor" placeholder="Expected Specialist"><br>
      <input type="text" name="symptoms" placeholder="Symptoms"><br>
      <input type="time" name="timeSlot"><br>
      <button type="submit" name="appButton">Confirm</button>
    </form>
  </body>
</html>
